/* general */
.switchboard { margin-bottom: 2em; }
.switchboard .hidden { display: none; }
.switchboard .btn { background-color: #f5f5f5; border: 1px solid #bbb; border-bottom-color: #a2a2a2; color: inherit; text-decoration: none; display: inline-block; padding: 4px 12px; margin-bottom: 0; font-size: 14px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; text-shadow: 0 1px 1px rgba(255,255,255,0.75); border-radius: 4px; box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); background-image: -webkit-linear-gradient(top,#fff,#e6e6e6); background-image: linear-gradient(to bottom,#fff,#e6e6e6); background-repeat: repeat-x; }
.switchboard .btn:hover { background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position .1s linear; transition: background-position .1s linear; }
.switchboard .btn-group { position: relative; display: inline-block; font-size: 0; vertical-align: middle; white-space: nowrap; }
.switchboard .btn-group > .btn:first-child { margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.switchboard .btn-group > .btn { position: relative; border-radius: 0; }
.switchboard .btn-group > .btn + .btn { margin-left: -1px; }
.switchboard .btn-group > .btn:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.switchboard .btn-link { background-color: transparent; background-image: none; box-shadow: none; border-radius: 0; border-color: transparent; }
.switchboard .btn-link:hover { background-color: transparent; }
/* form */
.switchboard input { line-height: 1.5; }
/* toolbar */
.switchboard .toolbar { margin-bottom: 1em; }
.switchboard .sort, .switchboard .sort li { margin: 0; padding: 0; list-style: none; }
.switchboard .sort li { display: inline-block; margin-right: 1em; }
.switchboard .sort { border-right: 1px solid #bbb; line-height: 2em; }
.switchboard .sort, input[type=search] { float: right; }
input[type=search] { margin: 0 0 0 1em; }
.switchboard .toolbar[data-sort=-label] .sort .label a,
.switchboard .toolbar[data-sort=-date_created] .sort .date_created a,
.switchboard .toolbar[data-sort=-date_modified] .sort .date_modified a,
.switchboard .toolbar[data-sort=label] .sort .label a,
.switchboard .toolbar[data-sort=date_created] .sort .date_created a,
.switchboard .toolbar[data-sort=date_modified] .sort .date_modified a,
.switchboard .toolbar[data-sort=""] .sort .date_modified a {
    font-weight: bold;
    color: #333;
}
.switchboard .toolbar[data-sort=-label] .sort .label a:after,
.switchboard .toolbar[data-sort=-date_created] .sort .date_created a:after,
.switchboard .toolbar[data-sort=-date_modified] .sort .date_modified a:after {
    content: " ▴";
}
.switchboard .toolbar[data-sort=label] .sort .label a:after,
.switchboard .toolbar[data-sort=date_created] .sort .date_created a:after,
.switchboard .toolbar[data-sort=date_modified] .sort .date_modified a:after,
.switchboard .toolbar[data-sort=""] .sort .date_modified a:after {
    content: " ▾";
}
.switchboard .sort a { color: #666; }
.switchboard .sort a:hover { text-decoration: underline; }
/* table */
.switchboard .switches { width: 100%; border-collapse: collapse; margin-bottom: 1em; }
.switchboard .switches tr { border-bottom: 1px solid #bbb; }
.switchboard .switches tr:first-child { border-top: 1px solid #bbb; }
.switchboard .switches td { vertical-align: top; padding: 1em 0; }
/* names */
.switchboard .switches .title, .switchboard .switches .timestamp { margin: 0; }
.switchboard .switches .title { margin-bottom: 1em; }
.switchboard .switches .timestamp { font-size: .714285714em; line-height: 1em; margin-top: -3em; color: #999; font-weight: normal; float: left; }
.switchboard .switches .name small { font-size: 0.714286em; color: #666; }
.switchboard .switches p { margin-bottom: 1em; }
.switchboard tr[data-switch-status="1"] .status-icn { color: #cc4036; }
.switchboard tr[data-switch-status="2"] .status-icn { color: #faa732; }
.switchboard tr[data-switch-status="3"] .status-icn { color: #5bb75b; }
.switchboard tr[data-switch-status="4"] .status-icn { color: #006dcc; }
/* statuses */
.switchboard .switches .status { text-align: right; }
.switchboard .switches .status .toggled { background-color: #ccc; background-position: 0 -30px; }
.switchboard .switches .status .btn-group { margin: 7px 0; }
/* actions */
.switchboard .switches .actions { visibility: hidden; }
.switchboard .switches tr:hover .actions { visibility: visible; margin: 7px 0 7px 1em; line-height: 20px; }
.switchboard .switches .actions .btn-link { padding: 0; border: 0; margin-left: 0.5em; }
/* drawer */
.switchboard .drawer { margin-bottom: 1em; }
.switchboard .drawer .field { margin-bottom: 1em; }
.switchboard .drawer label { display: block; font-weight: bold; }
.switchboard .drawer input, .switchboard .drawer textarea { width: 50%; }
/* conditions */
.switchboard .conditions-form { overflow: auto; }
.switchboard .conditions-form select, .switchboard .conditionsForm .fields { float: left; margin-right: 0.5em; }
.switchboard .conditions-form select { margin-top: 4px; margin-bottom: 4px; }
.switchboard .add-condition { margin: 1em 0; }
.switchboard .conditions { font-size: .857142857em; margin-bottom: 1.166666667em; }
.switchboard .conditions label { font-weight: bold; margin-right: 0.25em; width: 8em; display: inline-block; }
.switchboard .conditions label:after { content: ":"; }
.switchboard .conditions .value { padding: 0 0.25em; margin-right: 0.25em; background-color: #e6e6e6; }
.switchboard .conditions .delete-condition { margin-left: 0.25em; line-height: 14px; margin-top: -4px; padding: 0; border: 0; color: #666; }
